* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  background-image: ;
  margin: 0;
}

a {
  color: #088;
  text-decoration: none;
}

.logo {
  background-color: #f6f6f6;
  font-family: 'Cookie', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  text-shadow: -0.2rem 0 0 #5ff;
}

.logo > a {
  color: #222;
}

.box {
  background-color: rgba(255,255,255,0.5);
  clear: both;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0.5rem 1rem;
  max-width: 60rem;
}

  .box > h3 {
    font-family: 'Press Start 2P', sans-serif;
    margin: 1rem 0;
  }

  .box > p {
    display: block;
    font-family: 'Lobster Two', sans-serif;
    font-size: 1.5rem;
    line-height: 1.75;
    margin: 1rem 0;
  }

.figure-left {
  border: 1px solid #000;
  float: left;
  margin: 0 1rem 1rem 0;
  width: 20%;
}

.figure-dos{
  border: 0px solid #000;
  float: left;
  margin: 0 1rem 1rem 0;
  width: 200px;
}

.inicio {
  margin: 12rem 0 0 0;
  text-align: center;
}

.standart {  }

.imagenfondo {
  width: 1000px;
  position: relative;
  top: 0;
  left: 0;
}

.imagentop {
  width: 1000px;
  position: absolute;
  top: 200px;
  left: 156px;

 }

.icono img { width:60px; }

.navegacion {
  background-color: rgba(255, 255, 255, 0.5);
  width: 85%;
  margin: auto;
  padding: 0.6rem 0;
  text-align: right;
  position: sticky;
}

.navegacion img {
  float: left;
  width:60px;
  margin: 0 0rem 0rem 0;
  text-align: left;
 }

 .navegacion ul {
   float:right;
   list-style: none;
   text-decoration: none;
 }

 .navegacion li {
   display: inline-block;
   float:left;
   margin-left: 2rem
 }

 .navegacion a {
   color: black;
   font-size: 1rem;
   font-family: 'Nanum Gothic Coding', monospace;
 }

 .navegacion a:hover {
   color: #ed962d
 }
 .navegacion a:hover {
   color: #ed962d
 }
 .navegacion a:hover {
   color: #ed962d
 }
 .navegacion a:hover {
   color: #ed962d
 }

 .parent {
   margin: 0rem 0 0 0;
   text-align: center;
   position: relative;
   top: 0;
   left: 0;
 }

 .parent body {
   background-image: ;
 }
