* {
  box-sizing: border-box;
}

body {
  background-color: #F22613;
  margin: 0;
}

a {
  color: #088;
  text-decoration: none;
}

.logo {
  float: left;
  float: inherit;
  padding: 0rem 0;
  width: 60px;
  margin: 0px;
}

.box {
  background-color: rgba(255,255,255,0.5);
  clear: both;
  margin: 1rem auto;
  overflow: hidden;
  padding: 0.5rem 1rem;
  max-width: 60rem;
}

  .box > h3 {
    font-family: 'Press Start 2P', sans-serif;
    margin: 1rem 0;
  }

  .box > p {
    display: block;
    font-family: 'Lobster Two', sans-serif;
    font-size: 1.5rem;
    line-height: 1.75;
    margin: 1rem 0;
  }

.figure-left {
  border: 1px solid #000;
  float: left;
  margin: 0 1rem 1rem 0;
  width: 20%;
}

.figure-dos{
  border: 0px solid #000;
  float: left;
  margin: 0 1rem 1rem 0;
  width: 200px;
}


.grande {
  width: 1000px;
  align-content: center;
}


.navegacion {
  background-color: rgba(255, 255, 255);
  width: 100;
  margin: auto;
  padding: 0.8rem ;
  padding-right: 6rem
  text-align: right;
  position: sticky;
}

 .navegacion ul {
   float:right;
   list-style: none;
   text-decoration: none;
   padding: inherit;
 }

 .navegacion li {
   display: inline-block;
   float:left;
   padding-top: 1rem
      text-decoration: none;

 }

 .navegacion a {
   color: black;
   font-size: 1rem;
   font-family: 'Nanum Gothic Coding', monospace;
   margin-left: 2rem
 }

.navegacion a:hover {
  text-decoration: none;
  color: #F7CA18;
}

.galeria img {
  width: 100px

}
