body {
  background-color: #ddd;
  background-image: url('img/bg.png');
  margin: 0;
}

a {
  color: #088;
  text-decoration: none;
}

h3 {
  font-family: 'Press Start 2P', sans-serif;
  margin: 1rem 0;
}

.logo {
  background-color: #f6f6f6;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  text-shadow: -0.2rem 0 0 #5ff, 0.2rem 0 0 #f66;
}

.logo > a {
  color: #222;
}

nav {
  background-color: #111;
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

nav > a {
  -webkit-animation: rainbow-text 10s linear infinite;
  animation: rainbow-text 10s linear infinite;
  color: #af0;
  display: inline-block;
  margin: 0 1rem;
  padding: 1rem 0;
}

@-webkit-keyframes rainbow-text {
  0% { color: #3ac; }
  20% { color: #ac3; }
  40% { color: #ca3; }
  60% { color: #c3a; }
  80% { color: #a3c; }
  100% { color: #3ac; }
}
@keyframes rainbow-text {
  0% { color: #3ac; }
  20% { color: #ac3; }
  40% { color: #ca3; }
  60% { color: #c3a; }
  80% { color: #a3c; }
  100% { color: #3ac; }
}

main {
  background-color: rgba(255,255,255,0.5);
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  max-width: 60rem;
}

section {
  clear: both;
  margin: 1rem;
  overflow: hidden;
}

section > p {
  display: block;
  font-family: 'Sue Ellen Francisco', sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.figure-left {
  border: 1px solid #000;
  float: left;
  margin: 0 1rem 1rem 0;
  width: 20%;
}
